    @{
    ViewData["Title"] = "Home Page";
}

<style>

    body{
         background-color:gold
    }

    #icon{
        margin-top: 20px;
        font-size:50px;
        color:blueviolet;
    }

    #icon:hover{
        margin-top:20px;
        font:50px;
        color:brown;
    }


    .card{
        margin-bottom:25px;

    }


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="row">

    <div class="col-sm-12">
        <h1 style="text-align:center">JASON'S PORTFOLIO</h1>
        <h2 style="text-align:center">The web site is still in working progress, more features to be added</h2>

    </div>

</div>

<hr />

<div class="row">
    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center"> Team </h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-users"></i>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">Collaborators</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-user"></i>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">My work </h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-book-reader"></i>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">My Projects</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-book"></i>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <<div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">import</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-bfile-import"></i>

                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-3">
        <<div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">Return</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-undo-alto"></i>

                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <<div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">Borrow</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-file-invoice"></i>

                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <<div class="card" style="height:200px">
            <div class="card-body">

                <<h2 style="text-align:center">location</h2>
                <div style="text-align:center">
                    <i id="icon" class="fa fa-map-marker"></i>

                </div>
            </div>
        </div>
    </div>

</div>
